pkgbase = man-pages-fr
	pkgdesc = French man pages
	pkgver = 4.2.0
	pkgrel = 1
	url = https://salsa.debian.org/manpages-l10n-team/manpages-l10n
	changelog = man-pages-fr.changelog
	arch = any
	license = GPL3
	makedepends = po4a
	depends = man-db
	conflicts = man-pages-fr-git
	conflicts = man-pages-pacman-fr
	options = !emptydirs
	source = https://salsa.debian.org/manpages-l10n-team/manpages-l10n/-/archive/v4.2.0/manpages-fr-l10n-v4.2.0.tar.bz2
	sha512sums = 9f9d3153b512c7fb0dbc3916d3b049e8b30fc00a9d6f5bef9e2e2f645f8af8c2344f0e215a80f5da67e6cba9f80193b7c425f39925112579bde8c9e69756645c

pkgname = man-pages-fr

